nav{
  position: relative;
  height: 100px;
}

.rectangle {
  position: absolute;
  top: 0;
  
}

.full {
  background-color:rgba(113, 100, 114, 1);
  width: 1512px;
  height: 1000px;
  top: 21px;
  
  
}

.half {
  background:linear-gradient(254.52deg, #FFC4EC 19.58%, #F367C6 33.33%, #9F00AA 48.14%),
  linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  width: 1439px;
  height: 846px;
  top: 54px;
  left: 47px;
  border-radius: 30px;
  border: 1px;
}

.mini-half {
  width: 979px;
  height: 820px;
  top: 84px;
  left: 18px;
  border-radius: 30px 0px 0px 30px;
  background-color: rgba(239, 230, 253, 1);
}

.flex-container {
  display: flex;
  align-items:flex-start;
  justify-content: space-between;
}

.gp-logo {
  width: 207px;
  height: 77px;
  top: 107px;
  left: 140px;
  margin-left: 90px;
}

.my-nav {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 30px;
  margin-left: -50px;
}

.nav-bar {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-right: 20px;
}

.nav-link {
  text-decoration: none;
  color: rgb(41, 3, 111);
  margin-left: 5px;
}

.mini-content {
  margin-top: 20px;
  width: 40%;
}

h1 {
  margin-bottom: 10px;
}

.span-kd {
  display: block;
}

.head-line{
  size: 48px;
  font-weight: 900;
  line-height: 40px;
  text-transform: uppercase;
  margin-left: 60px;
}

p {
 display:block ;
 
}

.pre-content{
  margin-left: 60px;
}

.flex2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  flex: 1;
  /* margin-top: -180px; */
}

.rec3 {
  position: relative;
  right: 6px
}
.frames {
  right: 39px;
  position: absolute;
  top: 92px;
  width: 254px;
}
.rec4 {
  position: relative;
  top: -403px;
  z-index: 5;
  right: 26px;
}

.rec5 {
  position: relative;
  top: -765px;
  z-index: 10;
  right: 27px;
}


.kid-container {
  display: inline;
  position: absolute;
  top: 424px;
  left: 50px;
}


.kid-image {
 /* margin-left: 80px;
  margin-top: 592px; */
}

.gp-image {
  margin-left: 30px;
  /* margin-bottom: 20px; */
}

.where {
  position: absolute;
  bottom: 468px;
  right: 30px;
}

.social{
  display: flex;
  margin: 10% 100px 0;
}

.social p{
  font-family: Playfair Display;
  font-size: 17px;
  color: rgba(15, 96, 142, 1);
  font-weight: bold;

}

.font-awesome{
  margin:20px 10px 0;
}

.font-awesome i{
  color: grey;
  padding:2px;
}